header {
  grid-area: header;
  border-radius: 25px;
  background-color: #AAA;
}

article {
  grid-area: article;
  min-height: 60vh;
  border-radius: 25px;
  overflow: hidden;
  background-color: white;
}

nav {
  grid-area: nav;
  border-radius: 25px;
  font-size: 15px;
  background-color: #AAA;
}

footer {
  grid-area: footer;
  border-radius: 25px;
  background-color: #333;
  color : #AAA;
}

body {
  display: grid;
  grid-template-areas:
      'header'
      'article'
      'nav'
      'footer';
  grid-gap: 10px;
  text-align: center;
  background-image: linear-gradient(black, #111, black, black);
}

a{
  color : black;
  text-decoration: none;
}

nav ul{
  padding-inline-start: 0px;
  list-style-type: none;
}

nav li{
  display:inline;
  width: 150 px;
  margin: 5px  auto 5px 20px;
  border-left: solid;
  border-width: 1px;
  text-align: left;
  padding-left: 10px;
}

div.justme{
  float: left;
  width: 49%;
}

li.justme{
  text-align: left;
  margin-bottom: 5px;
}

span.justme{
  font-weight: bold;
}

img.justme{
  float: right;
  width: 45%;
  margin-right: 5%;
}

p.cycling {
  float: left;
  width: 60%;
}

img.cycling {
  float: right;
  width: 33%;
}

p.clear {
  clear: both;
}

@media only screen and (min-width: 900px) {
  body {
    grid-template-areas:
        'header header header header header header header'
        'nav article article article article article article'
        'footer footer footer footer footer footer footer';
    grid-gap: 10px;
    max-width: 1200px;
    margin: auto;
  }

  article {
    height: 80vh;
  }

  nav{
    font-size: 25px;
  }
  nav li{
    display:grid;
    border-bottom: solid;
    border-bottom-width: 1px;
    margin-top: 25px;
  }
}
